body {
  background-image: linear-gradient(to top, #000000, #3b262e, #72475f, #aa6c9a, #df96df);
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3{
  font-family: "Courier New", Courier, monospace;
}

img {
  position: static;
  padding: 25px;
  max-height: 450px;
}

a:link{
  text-decoration: none;
  color: #a50e48;
}
a:hover {
  color: #ee1769
}
a:visited {
  color: #aa8996;
}

.h {
  font-weight: 900;
  color: #72475f;
}
.quiet {
  font-size: smaller;
}
.goodbye{
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
  padding: 20px;
  background-image: radial-gradient(circle, #fff80c, #ffc649, #ff9e8a, #ff90c2, #df96df);
}
.favorites {
  background-image: linear-gradient(to right, #fffb7b, #ffe193, #ffd2c2, #ffd2ec, #fbdaff);
}

.about li {
  font-variant: small-caps;
}
.about img {
  padding: 60px;
}
.about p {
  padding: 5px;
  margin-right: 25px;
  margin-left: 25px;
}

