body {
  background-image: linear-gradient(to top, #000000, #3b262e, #72475f, #aa6c9a, #df96df);
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3{
  font-family: "Courier New", Courier, monospace;
}

img {
  float: left;
  padding: 25px;
  max-height: 450px;
}

a:link{
  text-decoration: none;
  color: #a50e48;
}
a:hover {
  color: #ee1769
}
a:visited {
  color: #aa8996;
}

.h {
  font-weight: 900;
  color: #72475f;
}
.quiet {
  font-size: smaller;
}

.about li {
  font-variant: small-caps;
}
.about img {
  padding: 60px;
}
